div div:nth-child(2) span { 
    color:red
}

div div::first-letter {
    color:green;
    font-size:3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

button {
    color: green;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(30, 10, 90, 0.7);
    outline: none;
    position: relative;
    top:0;
    left:0;
}

button:hover {
    background-color:blue;
    color: white;
    animation: stikkAv 100ms;
    animation-fill-mode: forwards;
}

button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

@keyframes stikkAv {
    0% { top: 0; left: 0; }
    100% { top: 500px; left: 500px;}
}

#innhold div {
    background: url("bilder/heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 20em;
    position: absolute;
    bottom: 100px;
    left: 300px;
    transition: 1s;
}

#innhold div:hover {
    transform: (30px, 30px);
    background: url("bilder/heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 20em;
}