:root {
    --fyll:10px;
}


header {
    color: green;
    font-size: 1.2m;
    padding: var(--fyll);
    padding-bottom: 20px;
}

article {
    font-style: 1.1em;
    padding: var(--fyll);
}

#liste {
    width: 90vw;
    min-height: 50vh;
    border: 2px solid red;
    padding: 1em;

.land {
    background-color: whitesmoke;
}