

#Tittel {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom: 0%;
    background-color: whitesmoke;
    z-index: 1;
}

h1 {
    margin-top: 30px;
    font-family: "Comic Sans MS";
    text-shadow: 3px 3px darkseagreen;
    font-size: 80px;
    font-style: italic;
    letter-spacing: 0.1em;
    text-align: center;
}

h2 {
    margin-top: 40px;
    font-family: "Comic Sans MS";
    text-shadow: 3px 3px #FBEC5D;
    font-size: 60px;
    font-style: italic;
    letter-spacing: 0.1em;
    text-align: center;
}

a:link {
    color: #242124;
    text-decoration: none;
}

a:visited {
    color: #242124;
    text-decoration: none;
}

a:hover {
    color: #242124;
    text-decoration: underline;
}

#Meny { 
    position: absolute;
    top: 20%;
    left: 0%;
    height: 0%;
    width: 100%;
    margin-top: 20px; 
}

    #Meny ul {
    -webkit-padding-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow: hidden;
    font-family: "Sukhumvit Set";
    align-items: center;
    grid:
    }
    
    #Meny li {
        margin-bottom: 4px;
        font-size: 16px;
    }
     
    #Meny li a {
    text-decoration: none;
    color:black;
    display: block;
    text-align: center;
    padding-top: 10px;
    height: 2.5em;
    background-color: rgba(241, 241, 241, 0.904);
    border-radius: 1px;
    box-shadow: 3px 3px 3px gray;
    width: 450px;
    transition-duration: 0.2s;
    border: 1px solid silver;
    }
     
    #Meny li a:hover {
    background-color: darkseagreen;
    box-shadow: 3px 3px 3px limegreen;
    color: white;
    transition-duration: 0.4s;
    font-size: 18px;
    height: 2.75em;
    width: 500px;
    border: 0px none silver;
    }
     
    #Meny li a:active {
    transform: translate(2px,2px);
    transition-duration: 0.1s;
    box-shadow: none;
    border: 0px none silver;
    }

    #Meny li a.showing {
        background-color: darkseagreen;
        color: white;
    }

    #Meny #liste2 {
        margin-bottom: 4px;
        font-size: 16px;
    }
     
    #Meny #liste2 a {
    text-decoration: none;
    color:black;
    display: block;
    text-align: center;
    padding-top: 10px;
    height: 2.5em;
    background-color: rgba(241, 241, 241, 0.904);
    border-radius: 1px;
    box-shadow: 3px 3px 3px gray;
    width: 450px;
    transition-duration: 0.2s;
    border: 1px solid silver;
    }
     
    #Meny #liste2 a:hover {
    background-color: #E4D96F;
    box-shadow: 3px 3px 3px #FBEC5D;
    color: white;
    transition-duration: 0.4s;
    font-size: 18px;
    height: 2.75em;
    width: 500px;
    border: 0px none silver;
    }
     
    #Meny #liste2 a:active {
    transform: translate(2px,2px);
    transition-duration: 0.1s;
    box-shadow: none;
    border: 0px none silver;
    }

    #Meny #liste2 a.showing {
        background-color: #FBEC5D;
        color: white;
    }

#Innhold {
    position: absolute;
    top: 85%;
    left: 0%;
    height: 0%;
    width: 100%;
    font-size: 16px;
    color: black;
    font-family: "Papyrus";
}

#Innhold ul {
    -webkit-padding-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    margin: 30px;
}

#Innhold img {
    position: absolute;
    width: 50px;
    height: 20px;
    margin: 15px;
}

address {
    font-style: normal;
}

#Bunn {
    position: absolute;
    bottom: 0%;
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 1.25em;
    background-color: white;
    border-top-style: dotted;
    border-width: 2px;
    border-color: silver;
    margin-left: -0.59%;
    font-family: "Sukhumvit Set";
}