
body {
    background-color: whitesmoke;
}

#Tittel {
    position: absolute;
    top: 0%;
    width: 100%;
    bottom: 80%;
    text-align: center;
    color: white;
    margin-left: -0.59%;
    text-shadow: 2px 2px #ffffff;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    margin-top: 30px;
    font-family: "Comic Sans MS";
    font-size: 80px;
    font-style: italic;
    letter-spacing: 0.1em;
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#Meny { 
    position: absolute;
    top: 20%;
    left: 0%;
    height: 10%;
    width: 100%;
    margin-top: 20px; 
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

    #Meny ul {
    -webkit-padding-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    font-family: sans-serif;
    margin-left: 480px;
    grid:
    }

    #Meny li {
        margin-bottom: 5px;
    }
     
    #Meny li a {
    text-decoration: none;
    color:black;
    display: block;
    margin-left: 4px;
    text-align: center;
    padding-top: 10px;
    height: 2.5em;
    background-color: white;
    border-radius: 1px;
    box-shadow: 3px 3px 3px darkslategray;
    width: 475px;
    }
     
    #Meny li a:hover {
    background-color: darkslategray;
    box-shadow: 3px 3px 3px limegreen;
    color: white;
    }
     
    #Meny li a:active {
    transform: translate(2px,2px);
    box-shadow: none;
    }

    #Meny li a.showing {
        background-color: darkslategray;
        color: white;
    }

h2 {
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 30px;
}

#Innhold {
    position: absolute;
    top: 85%;
    left: 0%;
    height: 10%;
    width: 100%;
    font-size: 16px;
    color: black;
    font-family: "Papyrus";
}

#Innhold ul {
    -webkit-padding-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    margin: 30px;
}

#Bunn {
    position: absolute;
    bottom: 0%;
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    background-color: white;
    border-top-style: dotted;
    border-width: 2px;
    border-color: silver;
    margin-left: -0.59%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}