#himmel { 
    position: absolute;
    bottom: 85%;
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(40px, auto);
    margin-left: -0.59%;
}

.stjerne {
    position: relative;
    top: 0px;
    left: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
    animation: blink 1s alternate linear infinite;
}

@keyframes blink {
    0% { background-color: rgb(236, 236, 176); 
    height: 8px;
    width: 8px;
    }

    100% { background-color: rgb(245, 245, 83);
    height: 11px;
    width: 11px;
    }
}


#bakgrunn {
    position: absolute;
    background-image: url("../Bilder/winter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-left: -0.59%;
}

#Julenissen {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    background: url("../Bilder/Julenissen.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: Julenissen 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes Julenissen {
    0% { top: 30%;  right: -100vw; transform: rotate(0deg);}
    50% { top: 10%; right: 30vw;transform: rotate(0deg);}
    100% { top: 20%; right: 100vw;transform: rotate(-40deg);}
}

.pakke {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 8px;
    height: 30px;
    background-color: red;
    border-left: solid green 21px;
    border-right: solid green 21px;
    animation: dropGifts 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes dropGifts {
    0% { top: 120px; }
    100% { top: 90vh; }
}

.snø {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: snø 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes snø {
    0% { top: 0px; }
    100% { top: 90vh; }
}