

.Tittel {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom: 0%;
}

#himmel { 
    position: absolute;
    bottom: 30%;
    height: 70%;
    width: 100%;
    background-color: darkblue; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(40px, auto);
}

.stjerne {
    height: 10px;
    width: 10px;
    background-color: white;
}

#snø {
    height: 30%;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

#Julenissen {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30%;
    background: url("../Bilder/Julenissen.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: Julenissen 10s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes Julenissen {
    0% { top: 40%;  right: 0%; transform: rotate(0deg);}
    25% { top: 10%; right: 30%;transform: rotate(0deg);}
    50% { top: 40%; right: 70%;transform: rotate(-90deg);}
    75% { top: 70%; right: 30%;transform: rotate(-180deg);}
    100% { top: 40%; right: 0%;transform: rotate(-360deg);}
}