body {
    background-color: black;
}

#Tittel {
    position: absolute;
    top: 0%;
    width: 100%;
    bottom: 80%;
    text-align: center;
    color: darkgray;
    margin-left: -0.59%;
    text-shadow: 2px 2px #ffffff;
    background-image: url("bilder/Undertale.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-style: italic;
    letter-spacing: 0.1em;
}

#Meny { 
    position: absolute;
    top: 20%;
    left: 0%;
    height: 10%;
    width: 100%;
    margin-top: 20px; 
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

    #Meny ul {
    -webkit-padding-start: 0;
    list-style-type: none;
    display: inline;
    overflow: hidden;
    font-family: "Monaco";
    }
     
    #Meny li {
    float: left;
    margin-bottom: 10px;
    }
     
    #Meny li a {
    text-decoration: none;
    color:black;
    display: block;
    margin-left: 4px;
    text-align: center;
    padding-top: 10px;
    height: 2.5em;
    background-color: white; 
    border-radius: 3px;
    box-shadow: 3px 3px 3px black;
    width: 475px;
    }
     
    #Meny li a:hover {
    background-color: black;
    box-shadow: 3px 3px 3px red;
    color: white;
    transition-duration: 0.4s;
    }
     
    #Meny li a:active {
    transform: translate(2px,2px); 
    box-shadow: none;
    }

    #Meny li a.showing {
        background-color: black;
        box-shadow: 3px 3px 3px red;
        color: white;
    }

h2 {
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 40px;
}

h2::first-letter{color: red}

h3 {
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 20px;
    font-family: "Monaco";
    letter-spacing: -0.1em;
}

h3::first-letter{font-size: 30px}

#Innhold {
    position: absolute;
    top: 29%;
    left: 0%;
    height: 71%;
    width: 100%;
    text-align: left;
    line-height: 2em;
    font-size: 25px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, white, black);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#skjema {
    margin-left: 40px;
}

#Bunn {
    position: absolute;
    bottom: 0%;
    height: 3%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    background-color: white;
    border: 1px solid rgba(124, 117, 117, 0.5);
    margin-left: -0.59%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2em;
}

table {
    border-collapse: collapse;
    margin-left: 50px;
    margin-bottom: 100px;
    border-style: solid;
    border-color: white;
    background-color: black;
    font-size: 15px;
    }

#Innhold img { 
    height: 90%;
    width: 90%;
}

#sans {
    font-family: "Comic Sans MS"
}

#papyrus {
    font-family: "Papyrus"
}

iframe { 
    position: absolute;
    height: 100%;
    width: 100%;
}

#Innhold audio {
    margin-left: 50px;
    color: red;
    -webkit-media-controls-panel: yes;
    -webkit-media-controls-mute-button: yes;
    -webkit-media-controls-play-button: yes;
}

#Innhold div {
    float: left;
    margin-left: 40px;
    -webkit-padding-start: 0;
    list-style-type: none;
    display: block;
    overflow: hidden;
}