#background {
    background: url("../bilder/.jpg");
    width: 100vw;
    height: 100vh;
}

#Tittel {
    position: absolute;
    top: 0%;
    width: 100%;
    bottom: 80%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Sukhumvit Set";
    font-size: 2em;
}

#Menu {
    position: absolute;
    top: 20%;
    left: 0%;
    height: 10%;
    width: 100%;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

#Menu ul {
    -webkit-padding-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    font-family: sans-serif;
    margin: 1px;
}

#Menu li a {
    text-decoration: none;
    color: mediumblue;
    display: block;
    margin-left: 0px;
    text-align: center;
    height: 2.5em;
    width: 275px;
    transition-duration: 0.4s;
}

#Menu li a:hover {
    background-color: silver;
    color: darkblue;
    border: 1px solid white;
    height: 2.5em;
    width: 300px;
}

#Menu li a:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}

#Menu li a.showing {
    background-color: silver;
    color: darkblue;
    width: 300px;
}