:root {
    --fyll:10px;
}


header {
    color: black;
    text-align: center;
    font-size: 1.2m;
    padding: var(--fyll);
    padding-bottom: 20px;
    font-family: "Papyrus";
}

article {
    font-style: 1.1em;
    padding: var(--fyll);
}

.lister {
    background-color: whitesmoke;
  }

#liste {
    width: 90vw;
    min-height: 50vh;
    border: 2px solid red;
    padding: 1em;
