:root {
    --slideshow-bg: blue;
}
#slideshow {
    background: url("bilder/Undertale.png");
    position: relative;
    left: 2em;
    top: 2em;
    width: 90%;
    border: 5px solid gray;
    border-radius: 2em;
    background-color: var(--bakgrunn);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: slideshow 6s steps(1) infinite alternate;
    }

    @keyframes slideshow {
        0% { background-image: url("bilder/sans.gif")}
        50% { background-image: url("bilder/PS.png")}
        }